.heartIcon span svg {
  width: 50px;
  height: 50px;
  color: #ff6d75;
}

.rating-star {
  margin: 0 10px;
  right: 0;
}
.rating-star span svg {
  width: 50px;
  height: 50px;
}

.imageItemBox img {
  border-radius: 20px;
}
/* 업로드 버튼 component */
.uploadButtons {
  float: right;
}
/* 리뷰 탭 좋아요 버튼 */
.goodVoteButton {
  margin-left: 80px;
  border-radius: 10px;
  height: 50px;
}
.goodVoteButton svg {
  aria-pressed: red;
}
